* {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

body {
  background-color: #fffdfd;
  color: #4b4b4d;
  font-weight: 300;
  margin: 0 auto;
  padding: 15px;
  width: 400px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

button {
  padding: 0;

  &:focus {
    outline: 0;
  }
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  cursor: pointer;
}

h2 {
  font-size: 18px;
  text-align: center;
}

p {
  margin: 0;
}

pre {
  margin: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
