.application {
  &__clipboard-link {
    border: dotted #555;
    border-width: 0 0 1px 0;
  }

  &__copy-icon {
    background-color: transparent;
    border: none;
    position: relative;
  }

  &__direct-text-example {
    align-items: center;
    border: 1px solid #cccccc;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 2px 7px;
  }

  &__copy-button {
    color: #fffdfd;
    background-color: #555;
    border: 1px solid #555;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 10px;
    padding: 9px 15px;
    width: fit-content;
  }

  &__profile-link {
    text-align: center;
  }

  &__header-image {
    position: relative;
  }

  &__install-cmd {
    font-size: 14px;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  }

  &__install-wrapper {
    background-color: transparent;
    position: absolute;
    top: 400px;
    text-align: center;
    width: 100%;
  }

  &__textfield {
    border: 1px solid #cccccc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 14px;
    margin: 10px 10px 0;
    padding: 9px 7px;
  }

  &__supported-text {
    margin: 10px;
  }

  &__is-supported {
    font-weight: bold;
  }
}
