<div class="gh-link">
  <a class="gh-link__anchor" href="https://github.com/jkusa/ember-cli-clipboard">
    <img class="gh-link__icon" src="github.svg" alt="github">
    <span class="gh-link__text">View On Github</span>
  </a>
</div>